.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {  
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.poweredBy {
  margin: 0 0 0 auto;
}

.footerLayout {
  padding: 40px 0 60px;
  border-top: 1px solid #d8d8d8;
  margin-top: 40px;
}

.socialNetworkWrapper {
  width: auto!important;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 40rem) {

.poweredBy {
    margin: 20px auto 20px 0;
}

}